{% extends "base.html" %}

{% block content %}
<div class="hero min-h-screen">
    <div class="hero-content text-neutral-content text-center">
        <div class="absolute top-60 max-w-md flex flex-col gap-8">
            <h1 class="text-4xl font-bold md:text-5xl">{{ current_user.username }}</h1>
            <div class="flex gap-5">
            <span class="flex flex-col items-center text-xl border-2 border-white p-4 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="size-6 text-primary">
                    <path fill-rule="evenodd"
                          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                          clip-rule="evenodd"/>
                </svg>
                Звезды: {{ current_user.stars }}
            </span>
                <span class="flex flex-col items-center text-xl border-2 border-white p-4 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="size-6 text-lime-400">
                  <path d="M21 6.375c0 2.692-4.03 4.875-9 4.875S3 9.067 3 6.375 7.03 1.5 12 1.5s9 2.183 9 4.875Z"/>
                  <path d="M12 12.75c2.685 0 5.19-.586 7.078-1.609a8.283 8.283 0 0 0 1.897-1.384c.016.121.025.244.025.368C21 12.817 16.97 15 12 15s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.285 8.285 0 0 0 1.897 1.384C6.809 12.164 9.315 12.75 12 12.75Z"/>
                  <path d="M12 16.5c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 15.914 9.315 16.5 12 16.5Z"/>
                  <path d="M12 20.25c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 19.664 9.315 20.25 12 20.25Z"/>
                </svg>
                Очки: {{ current_user.points }}
            </span>
            </div>
        </div>

        <div class="flex flex-col justify-center gap-6 mt-10">
            <h2 class="text-2xl mt-8 md:text-3xl font-semibold">История игр</h2>

            <div class="overflow-x-auto rounded-box border border-base">
                <table class="table text-lg">
                    <!-- head -->
                    <thead>
                    <tr class="text-lg text-white">
                        <th>ID</th>
                        <th>Раундов</th>
                        <th>Правильных ответов</th>
                        <th>Дано очков</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- rows -->
                    {% for game in games %}
                    <tr>
                        <th>game[0]</th>
                        <td>game[1]</td>
                        <td>game[2]</td>
                        <td>game[5]</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if games_count == 0 %}
                Ваша история игр пуста
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
