{% extends "base.html" %}

{% block content %}
<div class="flex flex-col gap-8 items-center py-30">
    <h1 class="text-5xl">Регистрация</h1>
    <form action="" method="post" class="flex flex-col gap-4">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="input form-control") }}<br>
            {% for error in form.username.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="input form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="input form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn w-full btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}